<# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.env

# Python artifacts
*.py[cod]
*$py.class
# Virtual environments
backend-api/venv/

# Node.js
node_modules/
.next/
package-lock.json

# Node artifacts
.npm/
frontend/.next/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
